@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    padding: 10px;
    margin: 10px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(49, 156, 192);
}

.header {
    text-align: center; 
    color: black;
    background-color: green;
}

ol {
    font-family: 'Roboto Condensed', sans-serif;
    color: yellow;
}

ol li {
    margin-bottom: 20px;
}
ol li img {
    display: block;
    margin: 0 auto;
}

ol li:first-of-type {
    font-weight: bold;
}

ol li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

ol li img[src]:not([src]) {
    border: 2px solid black;
}

ol li img:not([src]) {
    display: none;
}
