@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Apply default padding and margin to all elements */
* {
    padding: 10px;
    margin: 10px;
}

/* Body styles */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(49, 156, 192);
}

/* Header styles */
.header {
    text-align: center; 
    color: black;
    background-color: green;
}

/* List styles */
.list {
    font-family: 'Roboto Condensed', sans-serif;
    color: yellow;
}
